.wrap{
	width:910px;
	height:484px;
	padding:168px 127px 162px 163px ;
	background:url(../images/bg.png);
	margin:0 auto;
}
.box{
	width:694px;
	height:375px;
	padding:35px 108px 60px 110px;
	background:url(../images/bg1.png) no-repeat;
}
.innerbox{
	width:694px;
	height:341px;
	padding-top:34px;
	background:url(../images/bg2.png) no-repeat;
	position: relative;	
}
.content{
	position: absolute;	
	top:20px;
	left:20px;
	width:555px;
	height:153px;
	padding:13px 50px 0 54px;
	border:2px solid #535572;
	background:#272645;
	line-height:36px;
	font-size: 16px;
	color:#fff;
}
//.content p{
	line-height:36px;
	font-size: 16px;
	color:#fff;
}
.list{
	width:672px;
	height:144px;
	position:absolute;
	bottom:20px;
	left:22px;
}
.list li{
	padding:10px 0;
	height:16px;
	line-height:36px;
	position: relative;
	padding-left:16px;
}
.list span{
	width:16px;
	height:16px;
	font-size: 16px;
	line-height:16px;
	border-radius: 8px;
	text-indent:3px;
	position: absolute;
	top:10px;
	left:0;
	color:#000;
}
.list p{
	height:16px;
	line-height:16px;
	margin-right:10px;
}
.list button{
	color:#FFF;
	background:none;
	border:1px solid #FFF;
	border-radius: 10px;
	float: right;
}
.yellow{
	color:yellow;
}
.list .yellow span{
	background:yellow;
}
.blue{
	color:blue;
}
.list .blue span{
	background:blue;
}
.pink{
	color:pink;
}
.list .pink span{
	background:pink;
}
.orange{
	color:orange;
}
.list .orange span{
	background:orange;
}
.list .active{
	background:#FFF;
	color:#000;
}