ul,li{
	padding:0;
	margin:0;
	list-style:none;
}
input,button{
	background:none;
	border:0;
	padding:0;
}
.box{
	width:760px;
	height:384px;
	border:4px solid #e9e6e5;
	margin:0 auto;
	overflow: hidden;
}
.contleft{
	float:left;
	width:92px;	
}
.list li{
	height:93px;
	border-bottom:1px solid #e9e6e5;
	background:#000000;
	line-height:92px;
	color:#fff;
	font-size: 16px;
	text-align: center;
}
.list .active{
	background:#fe0000;
	color:#000;
}
.contright{
	float:left;
	height:384px;
	width:668px;
	position: relative;
}
.right1{
	z-index:999;
}
.right1,.right2,.right3,.right4{
	height:384px;
	width:668px;
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	transition:1s;
}
.list2{
	width:668px;
	height:384px;
	position: absolute;
	top:0;
	left:0;
}
.list2 li{
	height:384px;
	width:668px;
	position: absolute;
	top:0;
	left:0;
}
img{
	width:668px;
	height:384px;
	position: absolute;
	top:0;
	left:0;
	transition:1s;
}
.bottom{
	margin:0;
	position: absolute;
	bottom:0;
	left:0;
	width:668px;
	height:26px;
	
}
.bottom button{
	float:left;	
	height:26px;
	line-height:26px;
	color:#fff;
	font-size: 16px;
	background:#000;
	opacity:0.5;
}
.bottom  .active1{
	background:red;
	opacity:0.5;
}
.right1 .bottom button{
	width:25%;
}
.right2 .bottom button{
	width:50%;
}
.right3 .bottom button{
	width:25%;
}
.right4 .bottom button{
	width:50%;
}