.fl{
	float:left;
	}
.fr{
	float:right;
	}
.clearfix:after{
	content:"";display:block;height:0;clear:both;
	}
.clearfix{
	zoom:1;
	}
*{
	margin:0;
	padding:0;
}
#box{
	width:685px;
	height:369px;
	background:#fff;
	padding:20px 25px 31px 25px;
	overflow:hidden;	
}
#bg1{
	width:735px;
	height:420px;
	background: #000;
	opacity:0.3;
	display: none;
	position: fixed;
	top:0;
	left:0;
}
#form1{
	width:380px;
	height:40px;
}
#button1{
	width:280px;
	height:40px;
	font-weight: bold;
	font-size:22px;
	line-height:40px;
}
#button2{
	width:100px;
	height:40px;
	background:red;	
	color:#fff;
	line-height: 40px;
}
#textdiv{
	width:100px;
	height:100px;
	border:2px #000 solid;	
	transition: 2s;
	margin-top:20px;
}
#form2{
	width:238px;
	height:164px;	
	background:#ffffff;
	border:20px solid #9c949c;
	position: absolute;
	left:369px;
	top:150px;
	padding:16px 28px 32px 19px;
	display: none;
} 
.same1{
	width:240px;
	height:32px;
	font-size:16px;
	margin-bottom:8px;
}
.same1 span{
	width:117px;
	height:32px;
	line-height: 32px;
	color:#000;
}
.same1 input{
	width:36px;
	height:32px;
	line-height: 32px;
	margin-right:5px;
	cursor: pointer;
}
.hong{
	color:#fff;
	background:#9cce00;
}
.huang{
	color:#fff;
	background:#efbd00;
}
.lan{
	color:#fff;
	background:#5a94ef;
}
.same2{
	width:240px;
	height:32px;
	font-size:16px;
	line-height: 32px;
	margin-bottom:8px;
}
.same2 span{
	width:115px;
	height:32px;
	line-height: 32px;
	color:#000;
	}
.same2 input{
	width:34px;
	height:30px;
	line-height: 30px;
	margin-right:5px;
	border:1px solid #c0c0c0;
	color:#848c8c;
	cursor: pointer;
}
.same3{
	width:240px;
	height:30px;
	line-height: 32px;
	margin-top:15px;
}
#click-btn10{
	width:62px;
	height:32px;
	border:1px solid #efbd6b;
	margin-left:88px;
	margin-right:3px;
	background:#002952;
	color:#fff;
}
#click-btn11{
	width:62px;
	height:32px;	
	background:#002952;
	color:#fff;
}