.box{
	width:380px;
	height:290px;
	padding:6px 135px 221px 143px;	
	background:url(../images/bg1.png);
	position: relative;
	margin:0 auto;
}
.innerbox{
	width:380px;
	height:290px;
	position: relative;
	overflow: hidden;
	}
.mask{
	width:587px;
	height:158px;
	position: absolute;
	background:url(../images/bg2.png) no-repeat;
	top:0;
	left:46px;
}
.list{
	margin:0;
	padding:0;
	width:600%;
	height:290px;
	position: absolute;
	top:0;
	left:0;
	list-style: none;
}
.list li{
	float:left;
	position: relative;
}
.title{
	width:365px;
	height:40px;
	padding:20px 0 9px 15px ;
	background:#000;
	opacity:0.6;
	position: absolute;
	bottom:-69px;
	left:0;
}
h3,h4{
	color:#fff;
	margin:0;
}
h3{
	font-size: 16px;
	height:16px;
	line-height:16px;
	margin-bottom:8px;
}
h4{
	font-size: 14px;
	height:14px;
	line-height:14px;
}